a( href="#/createUser" class="btn btn-success" translate) users.b_createUser

.panel.panel-primary
    .panel-heading
        h3(class="panel-title" translate) users.usersListTitle  
    .panel-body
        div(ng-repeat= "user in users")
            h4 {{user.login}}