
.panel.panel-primary
    .panel-heading
        h3(class="panel-title") Registeration successfull
    .panel-body
        h3 Registration was successfull. please click following link in order to go to the login page: 
            a(href="#/login") login page