div
    .panel.panel-primary
        .panel-heading
            h3(class="panel-title") Register form  
        .panel-body
            form(action="/login" method="post" name="registrationForm" class="form-horizontal")
                div(ng-show="message" class="alert alert-danger")
                    p {{message}}
                .form-group
                    label(for="login" class="col-sm-2 control-label") login
                    .col-sm-10
                        input(type="text" class="form-control" name="login" id="login" ng-model="user.login" required) 
                .form-group
                    label(for="password" class="col-sm-2 control-label") password
                    .col-sm-10
                        input(type="password" class="form-control" name="password" id="password" ng-model="user.password" required) 
                .form-group
                    label(for="repeatPassword" class="col-sm-2 control-label") repeat password
                    .col-sm-10
                        input(type="password" class="form-control" name="repeatPassword" id="repeatPassword" ng-model="user.repeatPassword" required) 
                .form-group 
                    .col-sm-offset-2.col-sm-2
                         button(class="btn btn-default" ng-disabled="registrationForm.$invalid" type="button" ng-click="register(user)") Register
                    .col-sm-4
                         a(class="btn btn-primary" href="#/login") Cancel