extends layout

block content
    form(action="/login" method="post")
        p #{message}
        div login:
        input(type="text" name="login" value="#{login}")
        div password:
        input(type="password" name="password")
        input(type="submit" value="login")
        
